<%= form_for(@entry) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <br>

  <div class='field'>
  <%= select_tag "entry[category_id]", options_from_collection_for_select(Category.all, :id, :name), include_blank: :true %>
  </div>
  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

