<h1>New Category</h1>

<%= form_for(@category) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br><%= link_to 'Back', entries_path %><br><br>
<%= link_to 'All Categories', categories_path %>